%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://hackday.turetzky.org/css/style.css'}
%fb:dashboard
  %fb:header{:decoration =>'add_border', :icon => 'true'} hackday!
%fb:tabs
  %fb:tab-item{:href => "http://hackday.turetzky.org/fbaccounts", :title => "Accounts", :selected => true}
  %fb:tab-item{:href => "http://hackday.turetzky.org/fbpolicies", :title => "Policies"}
  %fb:tab-item{:href => "http://hackday.turetzky.org/fbclaims", :title => "Claims"}
  %fb:tab-item{:href => "http://hackday.turetzky.org/fbmessages", :title => "Messages"}
