= #{fb.users.getInfo :uid => fb[:user], :fields =>[:name]}

%p
  #infoBoxes
    #policies
      .boxhead_l Policies
      .boxhead_r Type
      = partial("policies", :collection => @user.policies)
      .boxfoot add
    #accounts
      .boxhead_l Accounts
      .boxhead_r Balance
      = partial("accounts", :collection => @user.accounts)
      .boxfoot add
    #claims
      .boxhead_l Claims
      .boxhead_r
      .boxfoot add
    #messages
      .boxhead Messages
      .false Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec hendrerit tempor tellus. Donec pretium posuere tellus. Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla posuere. Donec vitae dolor. Nullam tristique diam non turpis. Cras placerat accumsan nulla. Nullam rutrum. Nam vestibulum accumsan nisl.
      .boxfoot add
  .clear
%p

  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec hendrerit
  tempor tellus. Donec pretium posuere tellus. Proin quam nisl, tincidunt et,
  mattis eget, convallis nec, purus. Cum sociis natoque penatibus et magnis dis
  parturient montes, nascetur ridiculus mus. Nulla posuere. Donec vitae
  dolor. Nullam tristique diam non turpis. Cras placerat accumsan nulla. Nullam
  rutrum. Nam vestibulum accumsan nisl.
