!!! Strict
%html
  %head
    %title bank box
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
  %body
  #header
    %h1 bank in a box
    %h1.headH1 now with facebook!
  #contentMast
    %h1
      - if logged_in?
        Welcome #{@user.name}
      - else
        Please Log In
  #leftNav
    %img{:src => 'images/nav.jpg', :alt => "navImage"}
    .clear
    %ul
      %li balances
      %li claims
      %li endorsments
      %li change group
      %li update inventory
  #body
    #contentBody
      = yield
    .clear
  #footer
    %a{:href => "/logout"}logout
    &copy; box of bank inc. llc.
