!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :'xmlns:fb'=>"http://www.facebook.com/2008/fbml"}
  %head
    %title bank box
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
    %script{:type => 'text/javascript', :src => 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US'}
  %body
    :javascript
      FB.init("#{fb.api_key}","/receiver")
  #header
    %h1 bank in a box
    %h1.headH1 now with facebook!
    #contentMast
      %h1
        - if logged_in?
          - if fb[:user]
            Hello,
            %fb:profile-pic{:uid => fb[:user]}
            %fb:name{:uid => fb[:user], :useyou => 'false'}
            #{fb}
          - else
            Welcome #{@user.name}
        - else
          Please Log In
  .clear
  #leftNav
    %img{:src => 'images/nav.jpg', :alt => "navImage"}
    .clear
    %ul
      %li balances
      %li claims
      %li endorsments
      %li change group
      %li update inventory
  #HDbody
    #contentBody
      = yield
    .clear
  #footer
    %a{:href => "/logout"}logout
    &copy; box of bank inc. llc.
