!!! Strict
%html
  %head
    %title bank box
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
  %body
  #header
    %img{:src => "images/masthead.jpg", :alt => "Insure Barn"}
    #contentMast
      %h1
        - if logged_in?
          Welcome #{@user.name}
        - else
          Please Log In
  .clear
  #HDbody
    #contentBody
      = yield
    .clear
  #footer
    %a{:href => "/logout"}logout
    &copy; box of bank inc. llc.
