*
  font-family: sans-serif
  background-color: white
html
  background-color: #dcdcdc
#header
  min-height: 70px
  .headH1
    text-align: right
    font-size: small
    padding-right: 1em
#contentMast
  height: 5em
#body
  margin: 0 0 0 0
  padding: 1em 0 0 1em
  min-height: 768px
  font-family: sans-serif
  font-size: medium
  font-weight: bold
  max-width: 45em
#finePrint
  width: 100px
  clear: left
#leftNav
  float: left
  font-family: sans-serif
  font-weight: 300
  font-size: small
  margin:  1em 2em 0 2em
  min-width: 200px
  min-height: 300px
  img
    height: 72px
    width: 72px
    float: left
    margin-top: -30px
    margin-left: -15px
#finePrint
  float: left
  font-family: serif
  font-size: 1
#footer
  min-height: 100px
  text-align: center
#infoBoxes
  margin-top: 2em
  margin-bottom: 2em
  width: 105%
  height: 100%
#policies
  padding-left: 5px
  padding-right: 5px
  float: left
  min-height: 150px
  width: 23%
#accounts
  float: left
  padding-left: 4px
  padding-right: 4px
  min-height: 150px
  width: 23%
#claims
  float: left
  padding-left: 4px
  padding-right: 4px
  min-height: 150px
  width: 23%
#messages
  float: left
  padding-left: 4px
  padding-right: 4px
  min-height: 150px
  width: 23%
.boxhead
  font-size: 10pt
  font-weight: bolder
  border: 1px solid DarkBlue
  padding-left: 1px
  padding-right: 1px
  text-align: center
  min-height: 15px
  color: DarkBlue
  background: -moz-linear-gradient(top,#dcdcdc #FFF)
  background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC),to(#F0F0F0))
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DCDCDC', EndColorStr='#A1A1A1',GradientType=0)
#policy h3, p
  font-size: small
.clear
  clear: both
