//800px x 600px
//5px gutters

$pageWidth: 790px
$halfWidth: 390px
$quarterWidth: 190px
$rowLeft: 300px
$rowRight: 90px
$gutter: 5px
$marginHalf: $halfWidth + $gutter + $gutter
$brandColor: #1707CC
$bkgColor: #FFFFFF

*
  font-family: sans-serif
  background-color: white
html
  background-color: $bkgColor
#header
  min-height: 70px
  .headH1
    text-align: right
    font-size: small
    padding-right: 1em
#contentMast
  float: left
  font-size: 12px
  font-weight: bolder
  padding-left: 5px
#contentBody
  height: inhereit
#HDbody
  //min-height: 768px
  font-family: sans-serif
  font-size: medium
  font-weight: bold
  width: $pageWidth + 10px
#finePrint
  width: 100px
  clear: left
#leftNav
  float: left
  font-family: sans-serif
  font-weight: 300
  font-size: small
  margin:  1em 2em 0 2em
  width: 200px
  min-height: 300px
  img
    height: 72px
    width: 72px
    float: left
    margin-top: -30px
    margin-left: -15px
#finePrint
  float: left
  font-family: serif
  font-size: 1
#footer
  min-height: 100px
  text-align: center
  width: $pageWidth + $gutter + $gutter
#infoBoxes
  margin-top: 2em
  margin-bottom: 2em
  width: 100%
#policies
  float: left
  min-height: 150px
  width: $halfWidth
  margin-bottom: 20px
#accounts
  float: left
  top: 200px
  padding-left: 2 * $gutter
  min-height: 150px
  width: $halfWidth
  margin-bottom: 20px
#claims
  float: left
  min-height: 150px
  width: $halfWidth
  margin-bottom: 20px
#messages
  float: left
  clear: right
  padding-left: 2 * $gutter
  min-height: 150px
  width: $halfWidth
  margin-bottom: 20px
.boxhead
  width: $halfWidth
  font-size: 10pt
  font-weight: bolder
  border-bottom: 2px solid $brandColor
  padding-left: 1px
  padding-right: 1px
  padding-bottom: 2px
  text-align: left
  min-height: 15px
  color: $brandColor
.boxhead_l
  width: $rowLeft
  font-size: 10pt
  font-weight: bolder
  border-bottom: 2px solid $brandColor
  padding-left: 1px
  padding-right: 1px
  padding-bottom: 2px
  text-align: left
  min-height: 15px
  color: $brandColor
.boxhead_r
  width: $rowRight
  font-size: 10pt
  font-weight: bolder
  border-bottom: 2px solid $brandColor
  padding-left: 1px
  padding-right: 1px
  padding-bottom: 2px
  text-align: left
  min-height: 15px
  margin-top: -19px
  margin-left: $rowLeft
  color: #666666
.boxfoot
  font-size: 10pt
  font-weight: normal
  //padding-left: 2px
  //padding-right: 4px
  //padding-bottom: 2px
  text-align: right
  min-height: 15px
  color: $brandColor
  width: $halfWidth
#policy h3, p
  font-size: small
.clear
  clear: both
.false_l
  width: $rowLeft
  height: 16px
  padding-top: 2px
  padding-bottom: 2px
  margin-top: 0px
  margin-bottom: 0px
.false_r
  width: $rowRight
  height: 16px
  padding-top: 2px
  padding-bottom: 2px
  padding-left: $rowLeft
  margin-top: -20px
  margin-bottom: 0px
.false
  font-weight: normal
  font-size: 10px
  width: $halfWidth
  padding-top: 2px
  padding-bottom: 2px
  margin-top: 0px
  margin-bottom: 0px
.true_l
  background-color: lighten($brandColor, 50%)
  width: $rowLeft
  height: 16px
  padding-top: 2px
  padding-bottom: 2px
  margin-top: 0px
  margin-bottom: 0px
.true_r
  background-color: lighten($brandColor, 50%)
  width: $rowRight
  height: 16px
  padding-top: 2px
  padding-bottom: 2px
  padding-left: $rowLeft
  margin-top: -20px
  margin-bottom: 0px
.true
  font-weight: normal
  background-color: lighten($brandColor, 50%)
  width: $halfWidth
  padding-top: 2px
  padding-bottom: 2px
  margin-top: 0px
  margin-bottom: 2px
.ad
  float: left
  padding-left: 5px
  padding-right: 5px


